body {
    margin:0;
    font-size:13px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
}

div.context {
    padding:10px;
    border-bottom: 1px #dddddd solid;
}
div.context:after,
div.context:before {
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

div.context:last-child {
    border: none;
}

.date_change {
    padding:5px 10px!important;
    text-align: center;
    font-size:11px;
}

.other > .avatar {
    float:left;
}

.self > .avatar {
    float:right;
}

.other .message {
    padding:3px 24px 3px 48px;
}

.self .message {
    padding:3px 48px 3px 24px;
    text-align:right;
}

.self.action {
    text-align:right;
}

.other.action {
    text-align:left;
}
