body {
    margin:0;
    font-size:13px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
}

div.context {
    padding:10px;
    /* border-bottom: 1px #dddddd solid; */
    position:relative;
}
div.context:after,
div.context:before {
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

div.context:last-child {
    border: none;
}

div.context.message {
    min-height:32px;
}

.date_change {
    padding:5px 10px!important;
    text-align: center;
    font-size:11px;
}

.other > .avatar {
    /*float:left;*/
    position:absolute;
    bottom:10px;
    left:10px;
}

.self > .avatar {
    /* float:right; */
    position:absolute;
    bottom:10px;
    right:10px;
}

.other .unit {
    padding:3px 24px 3px 48px;
}

.self .unit {
    padding:3px 48px 3px 24px;
    text-align:right;
}

.unit:first-child {
    padding-top:0;
}

.message_text {
    max-width:60%;
    display:inline-block;
    background-color:black;
    color:white;
    border-radius:13px;
    padding:3px 10px 4px 10px;
    
    word-wrap:break-word;
}

.self .message_text {
    margin:auto 0 auto auto;
}

.action {
    text-align:center;
}
