/* Base */

body {
    margin:0;
    font-size:13px;
    /* font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif; */
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    -webkit-user-select:none;
    -webkit-font-smoothing: subpixel-antialiased;
}

/* Grouping behaviours & bubble display */

div.context {
    padding:10px;
    /* border-bottom: 1px #dddddd solid; */
    position:relative;
}
div.context:after,
div.context:before {
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

div.context:last-child {
    border: none;
}

div.context.message {
    min-height:32px;
}

.avatar {
    vertical-align:middle;
    border-radius:9001px;
}

.message .avatar {
    /*float:left;*/
    position:absolute;
    bottom:0px;
    left:0px;
}

.unit {
    padding-right:24px;
    padding-left:48px;
    padding-top:3px;
    padding-bottom:3px;
}
.unit:last-child {
    padding-bottom:0;
}
.unit:first-child {
    padding-top:0;
}

.unit:last-child:first-child {
    min-height:32px;
    line-height:32px;
}

.message_text, .message_action {
    display:inline-block;
    color:black;
    line-height:normal;
    word-wrap:break-word;
    -webkit-user-select:text;
}

.message_text {
    padding:3px 0 4px 0;
    vertical-align:bottom;
}

.message_text > p {
    margin:0;
    white-space:pre-wrap;
    text-align:left;
}

.message_text > p.green, .message_action.green {
    color:lime;
}

.message_action {
    border-radius:13px;
    padding:3px 10px 4px 10px;
    margin-left:5px;
    margin-right:5px;
    vertical-align:middle;
}

.timestamp {
    display:none;
    padding:3px 5px 4px 5px;
    line-height:normal;
    transition:200ms ease opacity;
}

.unit .timestamp {
    vertical-align:bottom;
}

.flex_centered .timestamp {
    vertical-align:middle;
}

.unit:hover .timestamp {
    display:inline-block;
}

.flex_centered:hover .timestamp {
    display:inline-block;
}

/* Action messages */

.action {
    text-align:left;
}

.flex_centered {
    transition:100ms ease all;
}

/* Sender name */

.sender_name {
    font-size:11px;
    padding-top:2px;
    font-weight:bold;
    margin-left:48px;
}

.information {
    padding:5px 10px!important;
    margin-left:48px;
    text-align: left;
    font-size:11px;
}